[Desktop Entry]
Name=GouYong
Name[zh_CN]=够用
Type=Application
Exec=GouYong
Icon=/usr/share/icons/icon.png
Categories=GTK;GNOME;Network;Office;Dictionary;
Terminal=False
