[Desktop Entry]
Name=GouYong
Name[zh_CN]=够用词典
Type=Application
Exec=GouYong
Icon=/usr/share/GouYong/icon.png
Categories=GTK;GNOME;Network;Office;Dictionary;
Terminal=False
